<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" href="style.css">
</head>
 
<body>
{{>'header'}}
<hr>
{{body}}

	<p>
	Find out the weather at any place on earth. Just navigate to Weather (above) and search!
	</p>
<hr>
{{>'footer'}}
</body>
</html>