html
{
	font-family: sans-serif;
	margin: 20px;
}
body{
	max-width: 600px;
}
h1
{
	
}
a{
	text-decoration: none;
	color: #888;
}
.footer
{
	color: #ccc;
}
.header a
{
	color: #555;
}
.header{
	margin-bottom: 20px;
}